.character-note {
  display: flex;
  flex-direction: row;
  margin: 1.5rem 0;

  &.character-right { flex-direction: row-reverse; }
  &.character-right .character-avatar img { transform: scaleX(-1); }

  .character-avatar {
    font-size: 2rem;
    align-self: flex-start;
    flex-shrink: 0;

    img {
      --head-size: 3.2em;
      width: var(--head-size);
      height: var(--head-size);
    }
  }

  .character-content {
    align-self: flex-start;
    max-width: min(93%, 45em);
    overflow: hidden;
  }

  .character-bubble {
    background: var(--bg-1);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    padding-inline: 0.9em;
    padding-block: 0.2em;
  }
}
